*{
  box-sizing: border-box;
}

.wrapper{
  min-height: 100vh;
  /* color: chocolate; */
}

.search-form, list-container{
  background: #000;
  padding: 2rem;
  border-radius: 10px;
  margin-top: 2rem;
}